.lr-main {
    background-color: var(--login-background);
    height: 100vh;
    width: 100%;
    display: grid;
    place-content: center;
}

.lr-main-container {
    display: flex;
    justify-content: center;
}

.lr-card {
    perspective: 1000px;
    width: 350px;
    height: 500px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.lr-card.flipped {
    transform: rotateY(180deg);
}

.lr-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.lr-container,
.lr-intro {
    box-shadow: var(--box-shadow-3);
    border-radius: 3rem;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    backface-visibility: hidden;
    background-color: var(--login-bg);
}

.lr-intro {
    padding: 2rem;
}

.lr-container {
    transform: rotateY(180deg);
}

.lr-logo {
    font-family: var(--logo-font);
    align-items: center;
    text-align: center;
    margin: 2rem auto;
}

.lr-logo img {
    content: var(--logo-login-path);
    max-width: 15rem;
    cursor: pointer;
}

.lr-logo p {
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 1.5rem;
}

.lr-logo span {
    color: var(--primary);
}

.lr-slogan {
    font-size: var(--normal-font-size);
    line-height: 1.5rem;
    letter-spacing: 1.5px;
    text-align: center;
}

.lr-slogan span {
    display: inline-block;
    font-weight: 550;
    color: var(--secondary);
}

.lr-flip-btn {
    color: var(--background);
    background-color: var(--primary);
}

.lr-flip-btn:hover {
    border: 2px solid var(--primary);
    background: transparent;
    color: var(--primary);
    transition: var(--animate);
}

/* ----------------common form css--------------------- */
#chk {
    display: none;
}

.form-heading {
    color: var(--accent);
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 50px 50px 20px 50px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.form-subheading {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: var(--smaller-font-size);
    letter-spacing: 1px;
    font-weight: 400;
}

.form-input {
    width: 60%;
    height: 2rem;
    background: transparent;
    justify-content: center;
    display: flex;
    margin: 1rem auto;
    padding: 1rem;
    outline: none;
    border-radius: 3rem;
}

.form-input:focus:valid {
    border-color: var(--success);
}

.form-input:focus:invalid {
    border-color: var(--error);
}

/* -----------------form buttons-------------------- */
.form-buton {
    width: 40%;
    height: 2.5rem;
    margin: 10px auto;
    justify-content: center;
    display: block;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 3rem;
    outline: none;
    border: none;
    border-radius: 3rem;
    transition: var(--animate);
    cursor: pointer;
}

/* -------------------sign-up------------------ */
.signup {
    position: relative;
    width: 100%;
    height: 100%;
}

.signup .form-subheading {
    color: var(--Text);
}

.signup .form-input {
    border-color: var(--accent);
    color: var(--text);
}

.signup-btn {
    background-color: var(--accent);
    color: var(--background);
}

.signup-btn:hover {
    border: 2px solid var(--accent);
    background: transparent;
    color: var(--accent);
    transition: var(--animate);
}

/* --------------------login---------------- */
.login {
    height: 460px;
    background: var(--accent);
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .7s ease-in-out;
}

.login .form-heading {
    color: var(--background);
    transform: scale(.6);
}

.login .form-subheading {
    color: var(--background);
}

.login .form-input {
    border-color: var(--background);
    color: var(--background);
}

/* .login .form-input::placeholder {} */

.login-btn {
    color: var(--accent);
    background-color: var(--background);
}

.login-btn:hover {
    border: 2px solid var(--background);
    background: transparent;
    color: var(--background);
    transition: var(--animate);
}

#chk:checked~.login {
    transform: translateY(-500px);
}

#chk:checked~.login .form-heading {
    transform: scale(1);
}

#chk:checked~.signup .form-heading {
    transform: scale(.6);
}

@media screen and (max-width:380px) {
    .lr-main {
        height: 100dvh;
    }

    .lr-card {
        width: 300px;
        height: 400px;
    }

    .lr-logo img {
        max-width: 12rem;
    }

    .lr-logo p {
        font-size: var(--normal-font-size);
    }

    .lr-slogan {
        font-size: var(--smaller-font-size);
    }

    .form-heading {
        font-size: 1.5rem;
        margin: 40px auto 20px auto;
    }

    .form-subheading {
        font-size: var(--tiny-font-size);
        margin-bottom: 1.5rem;
    }

    .form-input {
        width: 70%;
        height: 1rem;
        margin: 1rem auto;
        padding: .8rem;
    }

    .form-buton {
        height: 2rem;
        font-size: var(--smaller-font-size);
        margin-top: 2rem;
    }

    .login {
        background: var(--accent);
        transform: translateY(-130px);

    }

    #chk:checked~.login {
        transform: translateY(-400px);
    }
}