.post-section {
    margin-top: 1rem;
    height: 100vh;
}

.post-content {
    position: relative;
    width: auto;
    margin: 1rem auto;
    height: max-content;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--post-color);
    box-shadow: var(--box-shadow-2);
}

.post-profile {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.post-delete-btn {
    position: absolute;
    top: 8px;
    right: 12px;
    background: transparent;
    border: none;
    color: var(--sub-text);
    font-size: var(--normal-font-size);
    cursor: pointer;
    z-index: 1;
}

.post-delete-btn:hover {
    color: var(--error-dark);
}


.post-profile label {
    letter-spacing: 1px;
    font-size: var(--normal-font-size);
    font-weight: 500;
}

.post-data {
    max-height: 15rem;
    overflow-y: auto;
    margin-top: 1rem;
    color: var(--sub-text);
    text-align: justify;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    padding-right: 8px;
}

.post-link {
    text-decoration: underline;
    font-weight: 500;
    color: #4361ee;
    margin: 0 4px;
}

.post-data::-webkit-scrollbar {
    width: 0.2rem;
    border-radius: 0.3rem;
}

.post-data::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 0.3rem;
}

.post-data::-webkit-scrollbar-track {
    background: transparent;
}

.post-image {
    display: block;
    margin: 1rem auto;
    width: 50%;
    height: 50%;
    border-radius: 1rem;
}

.post-solution {
    margin-top: 1rem;
    max-width: auto;
    background-color: transparent;
}

.post-solution-likes-comments {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.like-section,
.comment-section {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.like-icon {
    color: var(--primary);
}

.comment-icon {
    color: var(--secondary);

}

.like-icon:hover,
.comment-icon:hover {
    scale: 1.05;
}

.pinned-comment {
    background-color: var(--pinned-comment-bg);
    border-left: 4px solid var(--pinned-comment-border);
    padding: 0.5rem;
    margin-bottom: 0.75rem;
    border-radius: 6px;
}

/* -------------comment section--------------- */

.comment-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    border-radius: 3rem;
    padding: .1rem .5rem;
    margin-top: 1rem;
    background: transparent;
    width: 100%;
}

.comment-avatar {
    background-color: var(--secondary);
    width: 2rem;
    height: 2rem;
    box-shadow: none;
}

.comment-textarea {
    color: var(--Text);
    flex: 1;
    resize: none;
    border: none;
    outline: none;
    font-size: var(--small-font-size);
    background-color: transparent;
    overflow: hidden;
    padding: .5rem;
    height: 2.5rem;
}

.comment-submit {
    background: none;
    border: none;
    color: var(--secondary);
    font-size: var(--normal-font-size);
    cursor: pointer;
    padding: .5rem;
}

.comment-submit:hover {
    transition: var(--animate);
    transform: scale(1.2);
    transform: translateX(3px);
}


@keyframes slideFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.comment-wrapper.animate-in {
    animation: slideFadeIn 0.4s ease forwards;
}

/* -------------comment list--------------- */
.single-comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    margin-top: .5rem;
    margin-left: 1rem;
    font-size: var(--small-font-size);
    opacity: 0;
    transform: translateY(-30px);
    animation: fadeInUp 0.4s ease forwards;
    animation-delay: 0.1s;
}

.single-comment .comment-avatar {
    width: 1.5rem;
    height: 1.5rem;
    font-size: var(--tiny-font-size);
    background-color: var(--comment-avatar);
}

.comment-left {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    max-width: 85%;
}

.comment-text {
    color: var(--Text);
    background-color: var(--comment-text-bg);
    padding: 4px 12px;
    border-radius: 12px;
    word-wrap: break-word;
    box-shadow: var(--box-shadow-1);
    max-width: 85%;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.comment-actions {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.upvote-btn,
.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: var(--smaller-font-size);
    transition: var(--animate);
}

.upvote-btn {
    color: var(--upvote);
}

.delete-btn {
    color: var(--error);
}

.comment-actions span {
    align-self: center;
}

.pin-icon {
    position: absolute;
    top: .3rem;
    left: 2.8rem;
    color: orangered;
    transform: rotate(-45deg);
}

@media screen and (max-width:576px) {
    .comment-avatar {
        width: 1.5rem;
        height: 1.5rem;
        font-size: var(--smaller-font-size);
    }

    .single-comment {
        margin-left: .1rem;
        font-size: var(--smaller-font-size);
    }

    .single-comment .comment-avatar {
        width: 1.2rem;
        height: 1.2rem;
        font-size: var(--tiny-font-size);
    }

    .single-comment span {
        margin-left: .2rem;
    }

    .comment-actions {
        gap: .7rem;
        font-size: var(--tiny-font-size);
    }

    .comment-left {
        max-width: 70%;
    }

}

@media screen and (max-width:380px) {

    .post-solution-likes-comments {
        gap: .8rem;
        font-size: var(--small-font-size);
    }

    .comment-avatar {
        padding: .9rem;
    }

    .comment-textarea {
        font-size: var(--tiny-font-size);
        padding: .5rem;
        height: 2rem;
    }

    .comment-submit {
        font-size: var(--smaller-font-size);
    }

    .single-comment {
        margin-left: .1rem;
        font-size: var(--tiny-font-size);
    }

    .single-comment .comment-avatar {
        padding: .7rem;
    }

    .comment-left {
        gap: 0.2rem;
        max-width: 70%;
    }

    .pin-icon {
        top: .4rem;
        left: 2.5rem;
    }
}