.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    color: var(--font);
    background-color: var(--nav-color);
    border: 1px solid var(--nav-shadownav-border);
}

.nav {
    width: 65%;
    padding: 1rem auto;
    margin: 0 auto;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo p {
    font-size: var(--smaller-font-size);
}

.logo {
    font-family: var(--logo-font);
    font-weight: bold;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
}

.logo span {
    color: var(--primary);
}

.logo img {
    cursor: pointer;
    height: 5vh;
}

.nav-list {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    color: var(--sub-text);
}

.nav-list li.active i {
    color: var(--accent);
    transform: scale(1.2);
    transition: var(--animate);
}

.scroll__header {
    box-shadow: var(--nav-shadow);
}

.search {
    display: flex;
    align-items: center;
    border: 2px solid var(--border-color);
    border-radius: 1rem;
    padding: 5px;
    max-width: max-content;
}

.search input {
    margin: auto 5px;
    border: none;
    outline: none;
    background: transparent;
}

.search:hover {
    border-color: var(--sub-text);
}

.search:focus-within {
    border-color: var(--accent);
}


.theme-toggle-icon {
    cursor: pointer;
    color: var(--theme-icon);
}


/* --------------------------- Responsive Section --------------------------- */

@media screen and (max-width:768px) {
    .header {
        font-size: var(--small-font-size);
    }

    .nav-list {
        column-gap: 1rem;
    }

    .search input {
        width: 9.5rem;
    }
}

@media screen and (max-width:576px) {
    .nav {
        width: 90%;
    }
}

@media screen and (max-width:380px) {
    .header {
        font-size: var(--smaller-font-size);
    }

    .logo p {
        font-size: var(--tiny-font-size);
    }

    .nav-list {
        column-gap: 1rem;
    }

    .search input {
        font-size: var(--tiny-font-size);
        width: 2.4rem;
    }

    .logo img {

        height: 4vh;
    }
}