.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: var(--accent);
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: 450;
    border-radius: 50%;
    text-transform: uppercase;
    box-shadow: var(--box-shadow-2);
}


/* --------------------------- Responsive Section --------------------------- */



@media screen and (max-width:576px) {
    .avatar {
        width: 2.5rem;
        height: 2.5rem;
        font-size: var(--small-font-size);
    }
}

@media screen and (max-width:380px) {
    .avatar {
        width: 2rem;
        height: 2rem;
        font-size: var(--smaller-font-size);
    }
}