.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: var(--accent);
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: 450;
    border-radius: 50%;
    text-transform: uppercase;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.avatar:hover {
    scale: 1.1;
    animation: var(--animate);
}